:root {
	--bg: #181818;
	--theme1: #CCD5AE;
	--theme2: #DAC7FF;
	--highlight: #FEFAE0;
	--color1: color-mix(in srgb, var(--theme1) 80%, var(--theme2) 20%);
	--color2: color-mix(in srgb, var(--theme1) 60%, var(--theme2) 40%);
	--color3: color-mix(in srgb, var(--theme1) 40%, var(--theme2) 60%);
	--color4: color-mix(in srgb, var(--theme1) 20%, var(--theme2) 80%);
	--large: 3.5vh;
	--small: 2.5vh;
	--text: rgb(0,0,0,.5);
}
::-webkit-scrollbar {
		width: 0;
	}
@font-face {
	font-family: mont;
	src: url(montserrat.ttf);
}
body {
	background: var(--bg);
	color: var(--text);
	font-family: mont;
	font-weight: 500;
	margin: 0;
	overflow-x: hidden;
}
p, ul, ol {
	font-size: var(--small);
	margin: 3vh 0;
}
a {
	text-decoration: none;
}
input {
	display: none;
}
iframe {
	position: fixed;
	z-index: -100;
	opacity: 0;
}
.active, strong {
	font-weight: 600;
}

/*Animations*/
@keyframes bottom-in {
	entry 0%  {transform: translateY(5vh);}
	entry 100%  {transform: translateY(0);}
}
@keyframes fade-in {
	entry 0%  {opacity: 0;}
	entry 100%  {opacity: 1;}
}